{% extends 'base.html' %}
{% block title %}포스트 목록입니다.
{% endblock %}
{% block content %}
<div class="container">
    <h2>Blog 홈</h2>
    {% if post_list %}
        <!-- 포스트 가져옴 -->
        {% for post in post_list %}
            <hr>
            <h3 class="my-3">
                <a href="{% url 'blog:detail' post.id %}">
                    {{ post.title }}
                </a>
            </h3>
            <h5 style="white-space: pre-line; line-height: 1.5">
                {{ post.content }}
            </h5>
            <p>글쓴이: {{ post.author }} (작성일: {{ post.pub_date }})</p>
            {% if post.photo %}
                <img src="{{ post.photo.url }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <p>포스트가 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
